@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root
{
	--anchor-hover-color: blue;
	--anchor-hover-transition-duration: .4s;
	--anchor-default-color: #2ea1cc;

	--blockquote-left-border-color: blue;
	--blockquote-footer-text-color: #c4c4c4;

	--marked-list-marker-color: blue;

	--blue-color: rgb(64, 110, 189);
	--red-color: red;
	--dark-color: #3d3838;
}

*, *::before, *::after
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img
{
	display: block;
	object-fit: cover;
}

button,
[type="reset"],
[type="button"],
[type="submit"]
{
	display: block;
	border: none;
	outline: none;
	appearance: none;
	-webkit-appearance: none;

	cursor: pointer;
	background-color: transparent;
}

a {
	text-decoration: none;

	position: relative;

	color: var(--anchor-default-color);

	transition: color var(--anchor-hover-transition-duration);
}
a::before
{
	content: "";
	position: absolute;
	left: 0;
	bottom: -1px;

	height: 1px;
	width: 0;

	background-color: var(--anchor-hover-color);

	transition: width var(--anchor-hover-transition-duration) ease-in-out;
}
@media screen and (min-width: 769px)
{
	a:hover::before
	{
		width: 100%;
	}

	a:hover
	{
		color: var(--anchor-hover-color);
	}
}
a[href^="tel:"],
a[href^="mailto:"]
{
	white-space: nowrap;
}

body
{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: flex-start;

	font-family: "Open Sans", sans-serif;
}

header, footer, main
{
	width: 100%;
}

main
{
	flex-grow: 1;
	flex-shrink: 0;
}

/* START Container */
.MediaMint-container-1320-responsive
{
	width: 100%;
	max-width: calc(1320px + 30px);
	margin: 0 auto;
	padding: 0 15px;
}
@media screen and (max-width: 1400px)
{
	.MediaMint-container-1320-responsive
	{
		max-width: calc(1140px + 30px);
	}
}
@media screen and (max-width: 1200px)
{
	.MediaMint-container-1320-responsive
	{
		max-width: calc(960px + 30px);
	}
}
@media screen and (max-width: 992px)
{
	.MediaMint-container-1320-responsive
	{
		max-width: calc(720px + 30px);
	}
}
@media screen and (max-width: 768px)
{
	.MediaMint-container-1320-responsive
	{
		max-width: calc(540px + 30px);
	}
}
@media screen and (max-width: 576px)
{
	.MediaMint-container-1320-responsive
	{
		max-width: 100%;
	}
}
/* END Container */


/* START text*/
h1,h2,h3,h4,p,ul,ol,a,span
{
	line-height: 1.5em;
}


h1 {
	margin-bottom: 30px;
}
h2 {
	margin: 20px 0 14px;
}
h3 {
	margin: 20px 0 10px;
}
h4 {
	margin-bottom: 10px;
}

p {
	margin: 15px 0;

	font-size: 18px;
}
/* END text*/

/* START Lists */
ul, ol
{
	margin: 25px 0;
}

ul li {
	display: block;
	margin-bottom: 15px;

	position: relative;

	padding-left: calc(10px + 15px);

	font-size: 20px;
	line-height: 1.5em;
}
ul li:last-child
{
	margin-bottom: 0;
}
ul li::before
{
	display: block;

	position: absolute;
	content: "";

	left: 5px;

	top: calc(1.5em / 2 - 4px);

	width: 10px;
	height: 10px;
	border-radius: 50%;

	background-color: var(--marked-list-marker-color);
}

ol
{
	padding-left: 20px;
}

ol li
{
	margin-bottom: 15px;
}
/* END Lists */

/* blockquote */
blockquote
{
	position: relative;
	padding: 20px 0 20px 30px;

	display: block;
}
blockquote::before
{
	content: "";
	position: absolute;

	left: 0;
	top: 0;
	width: 3px;
	height: 100%;

	background-color: var(--blockquote-left-border-color);

	border-radius: 5px;
}

blockquote footer p
{
	position: relative;

	padding-left:  calc(13px + 10px);
	color: var(--blockquote-footer-text-color);

	font-style: italic;
}
blockquote footer p::before
{
	content: "";
	position: absolute;
	width: 13px;
	height: 1px;
	left: 0;

	/* change it to (line-height / 2) */
	top: 50%;
	transform: translateY(-50%);

	background-color: var(--blockquote-footer-text-color);
}

blockquote footer p a
{
	color: inherit;
}

/* MODAL START */
body.not-scrollable
{
	overflow-y: hidden;
}

.modal-wrapper
{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0,0,0,0.5);

	opacity: 0;
	pointer-events: none;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: opacity .4s;
}

.modal-wrapper.showed
{
	opacity: 1;
	pointer-events: all;
}

[data-close-modal]
{
	font-size: 80px;

	position: fixed;
	right: 40px;
	top: 40px;
}

.modal-content
{
	transform: scale(0.8);

	background-color: #fff;
	max-width: 800px;
	padding: 40px;

	height: auto;
	max-height: 80vh;
	overflow: auto;

	border-radius: 10px;

	transition: transform .4s .3s;
}

.modal-wrapper.showed .modal-content
{
	transform: scale(1);
}

.modal__title
{
	width: 100%;
	text-align: center;

	font-size: 26px;
	line-height: 1.5em;

	margin-top: 0;
	margin-bottom: 30px;
}

/* MODAL END */

/* TABLE START */
table
{
	width: 100%;
	border: 2px solid var(--blue-color);

	margin: 30px 0;
	border-collapse: collapse;
}

tr
{
	border-top: 1px solid #000;
}

thead tr
{
	border-top: none;
}
tbody tr:first-child
{
	border-top: 2px solid #000;
}

th
{
	border-right: 2px solid black;
	border-left: 2px solid black;
}
thead th:first-child
{
	border-left: none;
}
thead th:last-child
{
	border-right: none;
}

td
{
	padding: 5px;

	border-right: 1px solid black;
	border-left: 1px solid black;

	border-radius: 2px;
}
/* TABLE END */